body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}